.container {
  padding-left: 20%;
}

.roomLiStyle {
  list-style:none;
  font-size: 1.2rem;
  padding: 0.2rem;
  color:#262626;
}

.chatSidebar {
  min-height: 100%;
  background-color:#d9d9d9;
}

.chatSidebar h1 {
  float: left;
}

.chatSidebar button {
  margin-top: 0.8rem;
  margin-left: 1rem;
  padding: 0.5rem 0.6rem;
  border: 0.1rem;
  border-radius: 5px;
}
