.roomMessages {
  padding-top:1rem;
  font-size:1rem;
  height: 100%;
  position: relative;
}

.chatMessage {
    overflow: scroll;
    height:93%
}

.roomMessagesChat {
  background-color: red;
}


.messageBtnSend {
  float: left;
height: 100%;
width: 9%;
background-color: #333333;
color: white;
border: 0;
font-size: 1rem;
font-weight: bold;
}
.messageStyle {
  width:91%;
  height: 100%;
  display: inline-block;
  float: left;
  background-color: #f1f1f1;
  border: 0;
  padding-left: 2%;
  font-size: 1rem;
}
.newMessage {
  height:7%;
  border-top: 0.01rem solid #4d4d4d;
  position: absolute;
  width: 100%;
  bottom: 0;
}



.removemarpad {
  margin: 0;
  padding: 0;
}

.fillwidth {
  width: 90%;
  margin-left: 5%;
  background-color:grey;
  border-color: grey;
  margin-bottom: 0.5rem;
}

.fillwidth:hover {
  background-color:grey;
  border-color: black;
}
.goRight p {
  float:right;
  padding-right: 0.2rem;

}

.odd {
background-color: #F0F8FF;
}

.noPad {
  padding: 0;
}

.pad {
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
}

.chatMessageEa {
  padding: 0.6rem;
    overflow: scroll;
}

.bolda {
  font-weight: bold;
  font-size:1.1rem;
}
